.button{
    height: 50px;
}
.formBox{
    display: grid;
    grid-template-columns: repeat(2,300px);
    
    grid-gap: 20px;
    /* width: 60%; */
    align-items: right;
    justify-items: left;
    padding: 40px;
    margin: auto;
    justify-content: center;
    background-color: rgb(232, 252, 176);
    border-radius: 20px;




   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  

}
#outlined-error-helper-text{
    width: 250px;
}

.formTable{
    display: grid;
    grid-template-columns: repeat(1,420px);
    background-color: rgb(170, 163, 175);
    border-radius: 16px;
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.formTableRow{
    display: grid;
    grid-template-columns: 20vw 50vw;
   width: 60vw;
    border-radius: 16px;
    height: 40px;
    padding: 10px;
   border: 1px solid black;
    text-align: left;
    justify-content: left;
    justify-items: left;
    align-items: center;
}

.homePage{

    display: grid;
    grid-template-columns: repeat(1fr,300px);
    border-radius: 16px;
    grid-gap: 40px;
    padding: 20px;
    width: 350px;
    background-color: rgb(232, 252, 176);
    justify-items: center;
    align-items: center;
    margin: auto;
}
.homeHeading{
    color: rgb(39, 39, 87);
    font-size: 20px;
    font-weight: 500;
}
.formPage{

   
    
    width: 60%;
   
    padding: 40px;
    margin: auto;
   
    background-color: rgb(232, 252, 176);
    border-radius: 20px;
}

